* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #1f2937;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero Section */

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 0;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 7px 30px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.hero-image {
    flex: 1;
    background-color: #6d747d;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

/* 

h2 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
}

p {
    font-size: 18px;
    color: #e5e7eb;
}

button {
    border-radius: 5px;
    padding: 5px 25px;
    background-color: #3883f6;
    border-color: #3883f6;
    color: #f9faf8;
    font-weight: 700;
}
