* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Header */

header {
    background-color: #1f2937;
    padding: 20px 0;
}

header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 700;
}

nav ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

nav a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

/* Hero Section */

.hero {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 100px 0;
}

.hero .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.hero-text {
    flex: 1;
}

.hero-text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb;
    margin-bottom: 20px;
}

.hero-text button {
    background-color: #3882f6;
    color: #f9faf8;
    border: none;
    padding: 7px 30px;
    border-radius: 5px;
    font-weight: 700;
    cursor: pointer;
}

.hero-image {
    flex: 1;
    background-color: #6d747d;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #e5e7eb;
}

/* Info Section */

.info {
    text-align: center;
    padding: 50px 0;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    margin-bottom: 50px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    max-width: 150px;
}

.box {
    width: 150px;
    height: 150px;
    border: 3px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card p {
    color: #6d747d;
}

/* Quote Section */

.quote {
    background-color: #e5e7eb;
    padding: 100px 0;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin-bottom: 20px;
}

blockquote p {
    font-weight: bold;
    text-align: right;
    font-style: normal;
    font-size: 24px;
}

/* Call to Action Section */

.cta {
    padding: 100px 0;
}

.cta-box {
    background-color: #3882f6;
    color: #f9faf8;
    padding: 50px 100px;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cta-text h3 {
    font-size: 24px;
    margin-bottom: 5px;
}

.cta button {
    background-color: #3882f6;
    color: #f9faf8;
    border: 2px solid #f9faf8;
    padding: 6px 30px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}

/* Copyright Footer */

footer {
    background-color: #1f2937;
    color: #f9faf8;
    padding: 40px 0;
    text-align: center;
}